<div class="container">
  <div class="box1">
    <div *ngIf="!routed" class="dashboard" (click)="selectOption('dashboard')">
      <span>Dashboard</span>
    </div>
    <mat-card class="card" *ngIf="!routed">
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option   >
          <div class="option" [ngClass]="{'option-selected': option_selected === 'search'}" (click)="selectOption('search')">
            <span>Search User</span>
          </div>
        </mat-list-option>
        <mat-list-option   >
          <div class="option" [ngClass]="{'option-selected': option_selected === 'history'}" (click)="selectOption('history')"> 
            <span>History</span>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-card>
  </div>
    <p *ngIf="routed" class="nav">
    <mat-toolbar class="nav-option">
      <span class="nav-item" [ngClass]="{'option-selected': option_selected === 'dashboard'}" (click)="selectOption('dashboard')">Dashboard</span>
      <span class="nav-item" [ngClass]="{'option-selected': option_selected === 'search'}" (click)="selectOption('search')">Search Page</span>
      <span class="nav-item" [ngClass]="{'option-selected': option_selected === 'history'}" (click)="selectOption('history')">History</span>
    </mat-toolbar>
  </p>
  <router-outlet *ngIf="routed"></router-outlet>
</div>


