.container {
    position: absolute;
    top: 4rem;
    margin: 1rem;
    justify-content: space-between;
}
.list-style {
    list-style: none;
    text-align: start;
}
.list-item {
    cursor: pointer;
    margin: 5px;
}
.user-details {
    position: absolute;
    left: 20rem;
    top: 1rem;
    // width: 100%;
}
.user-details-card {
    // color: white;
    width: 40rem;
}